.container {
    max-width: 960px;
    margin: 0 auto;
}

.form-container {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="file"] {
    display: block;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn:hover {
    background-color: #0069d9;
}

.result-container {
    margin-top: 50px;
}

.stamp-item {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.stamp-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.stamp-item p {
    margin: 0;
}
