{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Поиск печатей на изображении</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Поиск печатей на изображении</a>
      <a class="navbar-brand" href="/users/login/">Войти</a>
      <a class="navbar-brand" href="/users/register/  ">Зарегистрироваться</a>
    </nav>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6">
          <h2>Описание проекта</h2>
          <p>Проект позволяет находить печати на изображении с помощью компьютерного зрения.
            Для этого необходимо загрузить изображение и нажать кнопку "Поиск печатей".</p>
        </div>
        <div class="col-md-6">
          <h2>Поиск печатей на изображении</h2>

          <a class="navbar-brand" href="/stamps/detect_stamps/">
            <button type="submit" class="btn btn-primary">Поиск печатей</button>
          </a>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
